@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stGỉrls{
  .bPagination{
    margin: 100px 0 70px;
  }
  .listAll{
    li{
      text-align: center;
      em{
        font-size: rem(18);
        line-height: 28px;
        display: block;
        margin-top: 15px;
        font-style: normal;
      }
    }
  }
  .bDetail{
    padding-bottom: 118px;
    .grArt{
      article{
        +article{
          margin-top: 100px;
        }
        .ttlArt{
          font-size: rem(25);
          line-height: 1.5;
          padding-bottom: 10px;
          font-weight: normal;
          border-bottom: 1px solid #ADADAD;
          margin-bottom: 50px;
          font-family: $time;
          letter-spacing: 1px;
        }
        .tSlider{
          font-size: rem(30);
          line-height: 1.5;
          text-align: center;
          margin-bottom: 40px;
        }
        .gallery{
          display: flex;
          justify-content: space-between;
          .info-main_slider{
            width: 832px;
            img{
              width: 100%;
              height: auto;
            }
            .info-main_slider-item{
              line-height: 0;
              outline: none;
            }
            .slick-arrow {
              z-index: 99;
            }
            .slick-prev {
              left: 25px;
              background: url(../images/control_prev.png) no-repeat;
              background-size: contain;
              width: 20px;
              height: 35px;
              &:hover,
              &:focus {
                background: url(../images/control_prev.png) no-repeat;
                background-size: contain;
                opacity: .7;
              }
              &:before {
                content: none;
              }
            }
            .slick-next {
              right: 25px;
              background: url(../images/control_next.png) no-repeat;
              background-size: contain;
              width: 20px;
              height: 35px;
              &:hover,
              &:focus {
                background: url(../images/control_next.png) no-repeat;
                background-size: contain;
                opacity: .7;
              }
              &:before {
                content: none;
              }
            }
          }
          .slider-for_main{
            width: calc(100% - 832px);
            padding-left: 40px;
            margin-left: -14px;
            display: flex;
            flex-flow: row wrap;
            .info-main_slider-item{
              img{
                width: 100%;
                height: auto;
              }
            }
            .info-main_slider-item {
              width: calc(50% - 14px) !important;
              margin: 0 0 18px 14px;
              line-height: 0;
              outline: none;
              img{
                width: 100%;
                height: auto;
              }
            }
            .slick-current {
              position: relative;
              &:before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid #FFE200;
                position: absolute;
                top: 0;
                left: -2px;
                z-index: 99;
              }
            }
            .slick-list {
              padding: 0 !important;
            }
            .slick-track {
              width: 100% !important;
              transform: translate3d(0, 0, 0) !important;
            }
          }
        }
        .ttlMg{
          margin-bottom: 25px;
        }
        .tTop{
          font-size: rem(17);
          line-height: 27px;
          margin-bottom: 20px;
          display: block;
        }
        .bProfile{
          display: flex;
          justify-content: space-between;
          margin-bottom: 90px;
          &_left{
            width: calc(100% - 380px);
            padding-right: 90px;
            .listInf{
              li{
                border-bottom: 1px solid #DEDEDE;
                padding: 20px 0;
                display: flex;
                span{
                  width: 240px;
                  padding: 0 20px;
                  display: block;
                  font-weight: bold;
                  font-size: rem(13);
                  line-height: 1;
                  ins{
                    display: block;
                    text-decoration:none;
                    font-size: rem(9);
                    color: #F74CA8;
                    font-weight: bold;
                    margin-top: 5px;
                    font-family: $time;
                    letter-spacing: 1px;
                  }
                }
                em{
                  display: block;
                  width: calc(100% - 240px);
                  font-style: normal;
                  font-size: rem(13);
                  line-height: 23px;
                  font-weight: 500;
                  a{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          &_right{
            width: 380px;
          }
        }
        .btnIcon{
          a{
            width: 391px;
            position: relative;
            padding-right: 60px;
            &:after{
              content:"";
              background: url(../images/iconBtn.png) no-repeat;
              width: 33px;
              height: 33px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 70px;
            }
          }
        }
      }
    }
  }
  .banner{
    img{
      width: 100%;
      height: auto;
    }
  }
}
.stEntry{
  padding: 45px 0 115px;
  .ttlSt{
    span{
      display: block;
      font-size: rem(15);
      line-height: 1.5;
      margin-top: 10px;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      &.tPink{
        color: #F74CA8;
      }
    }
  }
  .bBox{
    background: url(../images/bkg_entry.png) no-repeat;
    background-size: cover;
    padding: 120px 0 90px;
    h4{
      color: #fff;
      font-size: rem(34);
      line-height: 1.5;
      text-align: center;
      margin-bottom: 50px;
    }
    ul{
      display: flex;
      flex-flow: row wrap;
      margin-left: -44px;
      counter-reset: li;
      li{
        width: calc(50% - 44px);
        margin: 0 0 44px 44px;
        background-color: #FFE200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: rem(18);
        line-height: 1.5;
        position: relative;
        &:before{
          counter-increment: li;
          content: "0" counter(li);
          font-size: rem(18);
          line-height: 1.5;
          font-family: $time;
          letter-spacing: 1px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 25px;
        }
      }
    }
  }
  .bInf{
    .row{
      max-width: 760px;
      margin: 80px auto 90px;
      border: 3px solid #E5E5E5;
      padding: 90px 100px;
      ul{
        li{
          display: flex;
          &:not(:last-child){
            margin-bottom: 30px;
          }
          span{
            font-weight: bold;
            display: block;
            font-size: rem(17);
            line-height: 23px;
            width: 150px;
            padding-right: 40px;
          }
          em{
            font-style: normal;
            font-size: rem(17);
            line-height: 23px;
            font-weight: 500;
            width: calc(100% - 150px);
          }
        }
      } 
    }
  }
  .bEntry{
    .row{
      max-width: 760px;
    }
    .frmEntry{
      border-top: 3px solid #E5E5E5;
      margin-top: 90px;
      p{
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}