@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stGỉrls{
  .bPagination{
    margin: vw(60) 0;
  }
  .listAll{
    li{
      text-align: center;
      em{
        font-size: vw(28);
        line-height: 1.5;
        display: block;
        margin-top: vw(15);
        font-style: normal;
      }
    }
  }
  .bDetail{
    padding-bottom: vw(100);
    .grArt{
      article{
        +article{
          margin-top: vw(100);
        }
        .ttlArt{
          font-size: vw(35);
          line-height: 1.5;
          padding-bottom: vw(10);
          font-weight: normal;
          border-bottom: 1px solid #ADADAD;
          margin-bottom: vw(50);
          font-family: $time;
          letter-spacing: vw(1);
        }
        .tSlider{
          font-size: vw(28);
          line-height: 1.5;
          text-align: center;
          margin-bottom: vw(30);
        }
        .gallery{
          .info-main_slider{
            img{
              width: 100%;
              height: auto;
            }
            .info-main_slider-item{
              line-height: 0;
              outline: none;
            }
            .slick-arrow {
              z-index: 99;
            }
            .slick-prev {
              left: vw(25);
              background: url(../images/control_prev.png) no-repeat;
              background-size: contain;
              width: vw(20);
              height: vw(35);
              &:hover,
              &:focus {
                background: url(../images/control_prev.png) no-repeat;
                background-size: contain;
                opacity: .7;
              }
              &:before {
                content: none;
              }
            }
            .slick-next {
              right: vw(25);
              background: url(../images/control_next.png) no-repeat;
              background-size: contain;
              width: vw(20);
              height: vw(35);
              &:hover,
              &:focus {
                background: url(../images/control_next.png) no-repeat;
                background-size: contain;
                opacity: .7;
              }
              &:before {
                content: none;
              }
            }
          }
          .slider-for_main{
            margin: vw(30) 0 0 vw(-14);
            display: flex;
            flex-flow: row wrap;
            .info-main_slider-item{
              img{
                width: 100%;
                height: auto;
              }
            }
            .info-main_slider-item {
              width: calc(33.33% - #{vw(14)}) !important;
              margin: 0 0 vw(14) vw(14);
              line-height: 0;
              outline: none;
              img{
                width: 100%;
                height: auto;
              }
            }
            .slick-current {
              position: relative;
              &:before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid #FFE200;
                position: absolute;
                top: 0;
                left: -2px;
                z-index: 99;
              }
            }
            .slick-list {
              padding: 0 !important;
            }
            .slick-track {
              width: 100% !important;
              transform: translate3d(0, 0, 0) !important;
            }
          }
        }
        .ttlMg{
          margin-bottom: vw(25);
        }
        .tTop{
          font-size: vw(27);
          line-height: 1.5;
          margin-bottom: vw(20);
          display: block;
        }
        .bProfile{
          margin-bottom: vw(90);
          &_left{
            margin-bottom: vw(30);
            .listInf{
              li{
                border-bottom: 1px solid #DEDEDE;
                padding: vw(25) 0;
                span{
                  display: block;
                  font-weight: bold;
                  font-size: vw(23);
                  line-height: 1;
                  margin-bottom: vw(20);
                  ins{
                    display: block;
                    text-decoration:none;
                    font-size: vw(19);
                    color: #F74CA8;
                    font-weight: bold;
                    margin-top: vw(10);
                    font-family: $time;
                    letter-spacing: vw(1);
                  }
                }
                em{
                  display: block;
                  font-style: normal;
                  font-size: vw(23);
                  line-height: 1.5;
                  font-weight: 500;
                  a{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          &_right{
            text-align: center;
            img{
              width: auto;
              max-width: 100%;
              height: auto;
            }
          }
        }
        .btnIcon{
          a{
            position: relative;
            padding-right: vw(60);
            &:after{
              content:"";
              background: url(../images/iconBtn.png) no-repeat;
              background-size: contain;
              width: vw(33);
              height: vw(33);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: vw(70);
            }
          }
        }
      }
    }
  }
  .banner{
    img{
      width: 100%;
      height: auto;
    }
  }
}

.stEntry{
  padding: vw(50) 0 vw(100);
  .ttlSt{
    span{
      display: block;
      font-size: vw(25);
      line-height: 1.5;
      margin-top: vw(10);
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      &.tPink{
        color: #F74CA8;
      }
    }
  }
  .bBox{
    background: url(../images/bkg_entry.png) no-repeat;
    background-size: cover;
    padding: vw(80) 0;
    h4{
      color: #fff;
      font-size: vw(34);
      line-height: 1.5;
      text-align: center;
      margin-bottom: vw(50);
    }
    ul{
      counter-reset: li;
      li{
        background-color: #FFE200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: vw(30);
        font-size: vw(28);
        line-height: 1.5;
        position: relative;
        text-align: center;
        &:before{
          counter-increment: li;
          content: "0" counter(li);
          font-size: vw(28);
          line-height: 1.5;
          position: absolute;
          top: 50%;
          font-family: $time;
          letter-spacing: 1px;
          transform: translateY(-50%);
          left: vw(25);
        }
        &:not(:last-child){
          margin-bottom: vw(20);
        }
      }
    }
  }
  .bInf{
    .row{
      margin: vw(60) vw(30) vw(80);
      border: vw(3) solid #E5E5E5;
      padding: vw(50);
      ul{
        li{
          display: flex;
          &:not(:last-child){
            margin-bottom: vw(40);
          }
          span{
            font-weight: bold;
            display: block;
            font-size: vw(27);
            line-height: 1.5;
            width: vw(150);
            padding-right: vw(20);
          }
          em{
            font-style: normal;
            font-size: vw(27);
            line-height: 1.5;
            font-weight: 500;
            width: calc(100% - #{vw(150)});
          }
        }
      } 
    }
  }
  .bEntry{
    .frmEntry{
      border-top: vw(3) solid #E5E5E5;
      margin-top: vw(90);
      p{
        text-align: center;
        margin-top: vw(20);
        font-size: vw(23);
        line-height: 1.5;
      }
    }
  }
}