@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.bSlider{
  margin-bottom: vw(50);
  ul{
    li{
      text-align: center;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .slick-dots{
    bottom: vw(20);
    li{
      width: vw(23);
      height: vw(23);
      button{
        width: vw(23);
        height: vw(23);
        &:before{
          width: vw(23);
          height: vw(23);
          font-size: vw(18);
        }
      }
      &.slick-active{
        button{
          &:before{
            color: #FFE200;
          }
        }
      }
    }
  }
}

.stNews{
  background: url(../images/bkg_new.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(60) 0 vw(100);
}

.stMovies{
  background: url(../images/bkg_movies.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(60) 0 vw(100);
  position: relative;
  transform: translateZ(0);
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.52);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .ttlSt{
    color: #fff;
  }
}

.stGirls{
  background: url(../images/bkg_girl.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(100) 0 vw(60);
}

.stGuide{
  &_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: vw(50) vw(30);
    background-color: #000;
    color: #fff;
    .ttlSt{
      margin-bottom: vw(30);
      text-align: left;
    }
    em{
      font-size: vw(25);
      line-height: 1.5;
      font-style: normal;
    }
    .btnAll{
      text-align: left;
      margin-top: vw(40);
      a{
        margin: 0;
      }
    }
  }
  &_right{
  }
}
.stShop{
  padding: vw(80) 0;
  .btnAll{
    background-color: #F7F7F7;
    margin-top: 0;
    padding: vw(60) 0 vw(80);
  }
}

.stLog{
  padding-bottom: vw(120);
}
.stAbout{
  background: url(../images/bkg_about.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(60) 0 vw(100);
  position: relative;
  transform: translateZ(0);
  color: #fff;
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.68);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  p{
    text-align: center;
    font-size: vw(37);
    line-height: 1.2;
    margin-bottom: vw(25);
    font-style: italic;
    font-family: $time;
    letter-spacing: vư(1);
    span{
      display: block;
      font-style: normal;
      margin-top: vw(10);
      font-size: vw(28);
    }
  }
  em{
    text-align: center;
    display: block;
    font-style: normal;
    font-size: vw(25);
    line-height: 1.5;
  }
  .listGirl{
    margin-top: vw(70);
    li{
      em{
        color: #fff;
        font-family: $time;
        letter-spacing: vw(1);
      }
    }
  }
}

.stSponsor{
  padding: vw(80) 0;
  .listSponsor{
    display: flex;
    flex-flow: row wrap;
    margin-left: vw(-25);
    li{
      width: calc(33.33% - #{vw(25)});
      margin: 0 0 vw(25) vw(25);
    }
  }
}