@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.bSlider{
  margin-bottom: 132px;
  ul{
    li{
      text-align: center;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .slick-dots{
    bottom: 30px;
    li{
      width: 13px;
      height: 13px;
      button{
        width: 13px;
        height: 13px;
        &:before{
          width: 13px;
          height: 13px;
          font-size: rem(10);
        }
      }
      &.slick-active{
        button{
          &:before{
            color: #FFE200;
          }
        }
      }
    }
  }
}

.stNews{
  background: url(../images/bkg_new.jpg) center center no-repeat;
  background-size: cover;
  padding: 103px 0 130px;
}

.stMovies{
  background: url(../images/bkg_movies.jpg) center center no-repeat;
  background-size: cover;
  padding: 93px 0 115px;
  position: relative;
  transform: translateZ(0);
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.52);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .ttlSt{
    color: #fff;
  }
}

.stGirls{
  background: url(../images/bkg_girl.jpg) center center no-repeat;
  background-size: cover;
  padding: 100px 0 96px;
}

.stGuide{
  display: flex;
  &_left{
    width: 50%;
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: percentage(180/1920);
    background-color: #000;
    color: #fff;
    .ttlSt{
      margin-bottom: 30px;
      text-align: left;
    }
    em{
      font-size: rem(15);
      line-height: 1.5;
      font-style: normal;
    }
    .btnAll{
      text-align: left;
      margin-top: 40px;
      a{
        margin: 0;
      }
    }
  }
  &_right{
    width: 50%;
    height: 508px;
    background: url(../images/img_guide.jpg) center center no-repeat;
    background-size: cover;
  }
}
.stShop{
  padding: 105px 0;
  .btnAll{
    background-color: #F7F7F7;
    margin-top: 0;
    padding: 73px 0 85px;
  }
}

.stLog{
  padding-bottom: 145px;
}
.stAbout{
  background: url(../images/bkg_about.jpg) center center no-repeat;
  background-size: cover;
  padding: 83px 0 112px;
  position: relative;
  transform: translateZ(0);
  color: #fff;
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.68);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  p{
    text-align: center;
    font-size: rem(27);
    line-height: 30px;
    margin-bottom: 20px;
    font-family: $time;
    letter-spacing: 1px;
    font-style: italic;
    span{
      display: block;
      font-style: normal;
      margin-top: 3px;
      font-size: rem(18);
    }
  }
  em{
    text-align: center;
    display: block;
    font-style: normal;
    font-size: rem(15);
    line-height: 1.5;
  }
  .listGirl{
    margin-top: 70px;
    li{
      em{
        color: #fff;
        font-family: $time;
        letter-spacing: 1px;
      }
    }
  }
}

.stSponsor{
  padding: 106px 0 108px;
  .listSponsor{
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    li{
      width: calc(20% - 20px);
      margin: 0 0 20px 20px;
    }
  }
}