@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stNews{
  padding: 0 0 vw(100);
  .bPagination{
    margin-top: vw(60);
  }
  .bDetail{
    .ttlH2{
      font-size: vw(40);
      line-height: 1.5;
      border-bottom: vw(2) solid #000;
      padding-bottom: vw(10);
      margin-bottom: vw(20);
    }
    .time{
      font-size: vw(21);
      line-height: vw(25);
      display: block;
      font-weight: 500;
      margin-bottom: vw(45);
    }
    .imgDetail{
      margin-bottom: vw(50);
      img{
        width: 100%;
        height: auto;
      }
    }
    p{
      font-size: vw(23);
      line-height: vw(37);
    }
    .ttlH3{
      font-size: vw(35);
      line-height: 1.5;
      border-bottom: vw(2) solid #000;
      padding-bottom: vw(10);
      margin-bottom: vw(40);
    }
    .ttlH4{
      font-size: vw(30);
      line-height: 1.5;
      border-bottom: vw(2) solid #000;
      padding-bottom: vw(10);
      margin-bottom: vw(40);
    }
    .ttlH5{
      font-size: vw(27);
      line-height: 1.5;
      border-bottom: vw(2) solid #000;
      padding-bottom: vw(10);
      margin-bottom: vw(40);
    }
    .bGrTag{
      margin: vw(80) 0 0 0;
      .item{
        &:not(:last-child){
          margin-bottom: vw(100);
        }
        &:last-of-type{
          .item_right{
            width: 100%;
          }
        }
        figure{
          margin-bottom: vw(50);
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .listDot{
      margin-top: vw(60);
      li{
        font-size: vw(23);
        line-height: vw(37);
        font-weight: bold;
        position: relative;
        padding-left: vw(20);
        &:before{
          content:"";
          width: vw(6);
          height: vw(6);
          border-radius: 50%;
          overflow: hidden;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:not(:last-child){
          margin-bottom: vw(15);
        }
      }
    }
    .listNumber{
      margin-top: vw(60); 
      counter-reset: li;
      li{
        font-size: vw(23);
        line-height: vw(37);
        font-weight: bold;
        position: relative;
        padding-left: vw(30);
        &:before{
          counter-increment: li;
          content: counter(li) ".";
          font-size: vw(23);
          line-height: vw(37);
          font-weight: bold;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:not(:last-child){
          margin-bottom: vw(15);
        }
      }
    }
    .listTxt{
      margin-top: vw(60);
      li{
        border-bottom: vw(2) solid #000;
        padding: vw(25) 0;
        display: flex;
        &:first-of-type{
          border-top: 2px solid #000;
        }
        span{
          font-size: vw(23);
          line-height: vw(37);
          display: block;
          width: vw(180);
          padding: 0 vw(10);
          font-weight: bold;
        }
        em{
          font-size: vw(23);
          line-height: vw(37);
          display: block;
          font-style: normal;
          width: calc(100% - #{vw(180)});
        }
      }
    }
    .bPag{
      margin-top: vw(80);
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          &:not(:last-child){
            margin-right: vw(60);
            position: relative;
            &:after{
              content:"|";
              font-size: vw(23);
              line-height: vw(37);
              position: absolute;
              top: vw(-2);
              right: vw(-30);
            }
          }
          a{
            font-size: vw(23);
            line-height: vw(37);
          }
          &.prev{
            position: relative;
            &:before{
              content:"";
              background: url(../images/prev.png) no-repeat;
              background-size: contain;
              width: vw(10);
              height: vw(15);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: vw(-40);
            }
          }
          &.next{
            position: relative;
            &:before{
              content:"";
              background: url(../images/next.png) no-repeat;
              background-size: contain;
              width: vw(10);
              height: vw(15);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: vw(-40);
            }
          }
        }
      }
    }
  }
}