@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stLog{
  padding: 0 0 170px;
  .bPagination{
    margin-top: 100px;
  }
  .listAll{
    li{
      .bCtn{
        padding: 26px 0;
      }
    }
  }
  .bDetail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    figure{
      width: 630px;
      img{
        width: 100%;
        height: auto;
      }
    }
    &_right{
      width: calc(100% - 630px);
      padding-left: 57px;
      span{
        font-size: rem(13);
        line-height: 1.5;
        display: block;
        font-family: $time;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      h3{
        font-size: rem(25);
        line-height: 1.5;
        margin-bottom: 30px;
        font-weight: normal;
      }
      small{
        font-size: rem(13);
        line-height: 1.5;
        display: block;
        margin-bottom: 10px;
        font-family: $time;
        letter-spacing: 1px;
      }
      em{
        font-size: rem(13);
        line-height: 23px;
        font-style: normal;
      }
    }
  }
  .tList{
    font-size: rem(13);
    line-height: 23px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}