@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stLog{
  padding: 0 0 vw(100);
  .bPagination{
    margin-top: vw(60);
  }
  .listAll{
    li{
      .bCtn{
        padding: vw(30) 0;
      }
    }
  }
  .bDetail{
    margin-bottom: vw(80);
    figure{
      img{
        width: 100%;
        height: auto;
      }
    }
    &_right{
      margin-top: vw(30);
      span{
        font-size: vw(23);
        line-height: 1.5;
        display: block;
        margin-bottom: vw(10);
        font-family: $time;
        letter-spacing: 1px;
      }
      h3{
        font-size: vw(35);
        line-height: 1.5;
        margin-bottom: vw(30);
        font-weight: normal;
      }
      small{
        font-size: vw(23);
        line-height: 1.5;
        display: block;
        margin-bottom: vw(10);
        font-family: $time;
        letter-spacing: 1px;
      }
      em{
        font-size: vw(23);
        line-height: 1.5;
        font-style: normal;
      }
    }
  }
  .tList{
    font-size: vw(23);
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: vw(10);
  }
}