@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
  width: 100%;
  height: auto;
}
.container {
  overflow: hidden;
}
.show_pc {
  display: none!important;
}
.row{
  padding: 0 vw(30);
}


.ttlSt{
  text-align: center;
  font-size: vw(50);
  line-height: 1;
  font-weight: normal;
  margin-bottom: vw(50);
  font-family: $time;
}

.listAll{
  display: flex;
  flex-flow: row wrap;
  margin-left: vw(-25 );
  li{
    width: calc(50% - #{vw(25 )});
    margin: 0 0 vw(20) vw(25  );
    a{
      display: block;
      &:hover{
        figure{
          img{
            transform: scale(1.2);
          }
        }
      }
    }
    figure{
      line-height: 0;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform 0.3s ease-out;
      }
    }
    .bCtn{
      background-color: #fff;
      padding: vw(20);
      em{
        font-size: vw(26);
        line-height: vw(38);
        display: block;
        font-style: normal;
      }
      time{
        font-size: vw(22);
        line-height: 1;
        display: block;
        margin-top: vw(15);
        font-family: $time;
        letter-spacing: vw(1);
      }
    }
  }
}

.listShop{
  display: flex;
  flex-flow:  row wrap;
  li{
    width: 50%;
    line-height: 0;
  }
}


.listGirl{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: vw(-20);
  li{
    width: calc(50% - #{vw(20)});
    margin: 0 0 vw(40) vw(20);
    text-align: center;
    figure{
      line-height: 0;
    }
    em{
      font-size: vw(26);
      line-height: vw(38);
      font-style: normal;
      display: block;
      margin-top: vw(20);
    }
  }
}

.btnAll{
  text-align: center;
  margin-top: vw(50);
  a{
    width: vw(500);
    height: vw(90);
    background-color: #FFE200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw(25);
    line-height: 1;
    margin: 0 auto;
    span{
      display: inline-block;
      margin-left: vw(6);
      font-family: $time;
      letter-spacing: vw(1);
    }
  }
}

.bBrecrumb{
  padding: vw(50) 0 vw(60);
  .listBr{
    li{
      font-size: vw(23);
      line-height: 1;
      display: inline-block;
      &:not(:last-child){
        margin-right: vw(40);
        position: relative;
        &:after{
          content:">";
          font-size: vw(23);
          line-height: 1;
          position: absolute;
          top: vw(-2);
          right: vw(-25);
        }
      }
      a{
        font-size: vw(23);
        line-height: 1;
      }
    }
  }
}

.bPagination{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  span{
    display: block;
    margin-bottom: vw(20);
    font-size: vw(24);
    line-height: 1;
    font-family: $time;
    letter-spacing: vw(1);
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      &:first-of-type{
        display: block;
        width: 100%;
      }
      &:not(:last-child){
        margin-right: vw(10);
      }
      a{
        width: vw(45);
        height: vw(45);
        display: flex;
        justify-content: center; 
        align-items: center;
        background: #E8E8E8;
        font-size: vw(24);
        line-height: 1;
        font-family: $time;
        letter-spacing: 1px;
        color: #fff;
        font-family: $time;
        &.pp{
          background: transparent;
          color: #000;
          width: auto;
          height: auto;
        }
      }
      &.active{
        a{
          background-color: #FFE200;
          color: #000;
        }
      }
    }
  }
}

.btnQc{
  margin-top: vw(60);
  p{
    text-align: center;
    font-size: vw(25);
    line-height: 1.5;
    margin-top: vw(15);
  }
}

.stRanking{
  padding: vw(60) 0 vw(100);
  background: url(../../common/images/bkgRanking.jpg) center center no-repeat;
  background-size: cover;
  .ttlRanking{
    font-size: vw(40);
    line-height: 1;
    font-weight: 400;
    margin-bottom: vw(60);
    text-align: center;
    font-family: $time;
    letter-spacing: 1px;
    span{
      display: block;
      font-size: vw(23);
      line-height: 1.5;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    }
  }
  .grArt{
    article{
      +article{
        margin-top: vw(100);
      }
      .ttlArt{
        font-size: vw(29);
        line-height: 1.5;
        padding-bottom: vw(10);
        font-weight: normal;
        border-bottom: 1px solid #ADADAD;
        margin-bottom: vw(50);
      }
      .grItem{
        display: flex;
        flex-flow: row wrap;
        margin-left: vw(-20);
        .item{
          width: calc(33.33% - #{vw(20)});
          margin: 0 0 vw(40) vw(20);
          text-align: center;
          span{
            display: block;
            margin-bottom: vw(10);
            strong{
              font-size: vw(30);
              line-height: 1;
              display: inline-block;
              margin-left: vw(8);
            }
            &.cl01{
              color: #846204;
            }
            &.cl02{
              color: #505C67;
            }
            &.cl03{
              color: #622708;
            }
            i{
              img{
                width: vw(42);
                height: auto;
              }
            }
          }
          figure{
            img{
              width: 100%;
              height: auto;
            }
            figcaption{
              font-size: vw(20);
              line-height: 1.5;
              display: block;
              margin-top: vw(10);
            }
          }
        }
      }
      .listBt{
        display: flex;
        flex-flow: row wrap;
        margin-left: vw(-20);
        li{
          width: calc(33.33% - #{vw(20)});
          margin: 0 0 vw(40) vw(20);
          background-color: #fff;
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: vw(30) vw(10);
            text-align: center;
          }
          span{
            display: block;
            i{
              img{
                width: vw(26);
                height: auto;
              }
            }
            strong{
              font-size: vw(22);
              color: #838383;
              display: inline-block;
              margin-left: vw(8);
            }
          }
          em{
            font-size: vw(20);
            line-height: 1.5;
            font-style: normal;
            display: block;
            margin-top: vw(10);
          }
        }
      }
    }
  }
}

.stCurator{
  background-color: #FAFAFA;
  padding: vw(60) 0 vw(100);
  .ttlSt{
    span{
      display: block;
      font-size: vw(23);
      line-height: 1.5;
      margin-top: vw(10);
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    }
  }
  .listCurator{
    li{
      &:not(:last-child){
        margin-bottom: vw(50);
      }
      a{
        display: flex;
        figure{
          width: vw(100);
        }
        .bRight{
          width: calc(100% - #{vw(100)});
          padding-left: vw(30);
          h4{
            font-size: vw(27);
            line-height: 1.5;
            margin-bottom: vw(15);
          }
          span{
            display: block;
            font-size: vw(23);
            margin-bottom: vw(5);
            font-family: $time;
            letter-spacing: vw(1);
          }
          em{
            font-style: normal;
            font-size: vw(23);
            line-height: 1.5;
            display: block;
            margin-bottom: vw(10);
          }
          ins{
            display: block;
            font-size: vw(23);
          }
        }
      }
    }
  }
}