@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.container {
  min-width: 1275px;
  overflow: hidden;
}
.row {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
}

.ttlSt{
  text-align: center;
  font-size: rem(40);
  line-height: 1;
  font-weight: normal;
  margin-bottom: 50px;
  font-family: $time;
  letter-spacing: 2px;
}

.listAll{
  display: flex;
  flex-flow: row wrap;
  margin-left: -25px;
  li{
    width: calc(25% - 25px);
    margin: 0 0 34px 25px;
    a{
      display: block;
      &:hover{
        figure{
          img{
            transform: scale(1.2);
          }
        }
      }
    }
    figure{
      line-height: 0;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform 0.3s ease-out;
      }
    }
    .bCtn{
      background-color: #fff;
      padding: 26px 20px;
      em{
        font-size: rem(16);
        line-height: 28px;
        display: block;
        font-style: normal;
      }
      time{
        font-size: rem(12);
        line-height: 1;
        display: block;
        margin-top: 5px;
        font-family: $time;
        letter-spacing: 1px;
      }
    }
  }
}

.listShop{
  display: flex;
  flex-flow:  row wrap;
  li{
    width: 25%;
    line-height: 0;
  }
}

.listGirl{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -103px;
  li{
    width: calc(25% - 103px);
    margin: 0 0 34px 103px;
    text-align: center;
    figure{
      line-height: 0;
    }
    em{
      font-size: rem(16);
      line-height: 28px;
      font-style: normal;
      display: block;
      margin-top: 20px;
    }
  }
}

.btnAll{
  text-align: center;
  margin-top: 27px;
  a{
    width: 351px;
    height: 69px;
    background-color: #FFE200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(15);
    line-height: 1;
    margin: 0 auto;
    span{
      display: inline-block;
      margin-left: 6px;
      font-family: $time;
      letter-spacing: 1px;
    }
  }
}

.bBrecrumb{
  padding: 35px 0 55px;
  .listBr{
    li{
      font-size: rem(13);
      line-height: 1;
      display: inline-block;
      &:not(:last-child){
        margin-right: 20px;
        position: relative;
        &:after{
          content:">";
          font-size: rem(13);
          line-height: 1;
          position: absolute;
          top: -1px;
          right: -15px;
        }
      }
      a{
        font-size: rem(13);
        line-height: 1;
      }
    }
  }
}

.bPagination{
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    margin-right: 20px;
    font-family: $time;
    letter-spacing: 1px;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      &:not(:last-child){
        margin-right: 9px;
      }
      a{
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center; 
        align-items: center;
        background: #E8E8E8;
        font-size: rem(14);
        line-height: 1;
        font-family: $time;
        color: #fff;
        &.pp{
          background: transparent;
          color: #000;
        }
      }
      &.active,&:hover{
        a{
          background-color: #FFE200;
          color: #000;
        }
      }
    }
  }
}

.btnQc{
  margin-top: 92px;
  p{
    text-align: center;
    font-size: rem(15);
    line-height: 1.5;
    margin-top: 10px;
  }
}

.stRanking{
  padding: 91px 0 115px;
  background: url(../../common/images/bkgRanking.jpg) center center no-repeat;
  background-size: cover;
  .ttlRanking{
    font-size: rem(40);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    font-family: $time;
    letter-spacing: 1px;
    span{
      display: block;
      font-size: rem(13);
      line-height: 27px;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    }
  }
  .grArt{
    article{
      +article{
        margin-top: 110px;
      }
      .ttlArt{
        font-size: rem(19);
        line-height: 27px;
        padding-bottom: 10px;
        font-weight: normal;
        border-bottom: 1px solid #ADADAD;
        margin-bottom: 50px;
      }
      .grItem{
        padding: 0 60px;
        display: flex;
        flex-flow: row wrap;
        margin-left: -111px;
        .item{
          width: calc(33.33% - 111px);
          margin: 0 0 40px 111px;
          text-align: center;
          span{
            display: block;
            margin-bottom: 10px;
            strong{
              font-size: rem(20);
              line-height: 1;
              display: inline-block;
              margin-left: 5px;
            }
            &.cl01{
              color: #846204;
            }
            &.cl02{
              color: #505C67;
            }
            &.cl03{
              color: #622708;
            }
          }
          figure{
            img{
              width: 100%;
              height: auto;
            }
            figcaption{
              font-size: rem(16);
              line-height: 28px;
              display: block;
              margin-top: 10px;
            }
          }
        }
      }
      .listBt{
        padding: 0 60px;
        display: flex;
        flex-flow: row wrap;
        margin-left: -111px;
        li{
          width: calc(33.33% - 111px);
          margin: 0 0 40px 111px;
          background-color: #fff;
         a{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 30px 10px;
         }
          span{
            display: block;
            strong{
              font-size: rem(16);
              color: #838383;
              display: inline-block;
              margin-left: 5px;
            }
          }
          em{
            font-size: rem(16);
            line-height: 28px;
            font-style: normal;
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.stCurator{
  background-color: #FAFAFA;
  padding: 97px 0 100px;
  .ttlSt{
    span{
      display: block;
      font-size: rem(13);
      line-height: 1.5;
      margin-top: 10px;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    }
  }
  .listCurator{
    display: flex;
    flex-flow: row wrap;
    margin-left: -77px;
    li{
      width: calc(50% - 77px);
      margin: 0 0 60px 77px;
      a{
        display: flex;
        figure{
          width: 82px;
        }
        .bRight{
          width: calc(100% - 82px);
          padding-left: 34px;
          h4{
            font-size: rem(17);
            line-height: 1.5;
            margin-bottom: 15px;
          }
          span{
            display: block;
            font-size: rem(13);
            margin-bottom: 5px;
            font-family: $time;
            letter-spacing: 1px;
          }
          em{
            font-style: normal;
            font-size: rem(13);
            line-height: 23px;
            display: block;
            margin-bottom: 10px;
          }
          ins{
            display: block;
            font-size: rem(13);
          }
        }
      }
    }
  }
}