footer{
  background-color: #000;
  .bFooter{
    &_top{
      border-bottom: 1px solid #707070;
      padding: 0 vw(30);
      &_l{
        .navFt{
          padding-top: vw(50);
          li {
            text-align: center;
            border-bottom: vw(2) solid #fff;
            &:not(:last-child){
            }
            &:first-of-type{
              border-top: vw(2) solid #fff;
            }
            a {
              text-align: center;
              letter-spacing: 1px;
              font-size: vw(26);
              color: #fff;
              line-height: 1;
              padding: vw(40) vw(35);
              display: flex;
              align-items: center;
              position: relative;
              font-family: $time;
              letter-spacing: vw(1);
              span{
                display: block;
                font-size: vw(32);
                line-height: 1;
                font-weight: bold;
                margin-right: vw(30);
              }
              &:after{
                content:"";
                background: url(../../images/arr_right_white.svg) no-repeat;
                background-size: contain;
                width: vw(8);
                height: vw(18);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: vw(30);
              }
            }
          }
        }
      }
      &_r{
        padding: vw(40) 0 vw(30);
        .listSocial{
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            &:not(:last-child){
              margin-right: vw(30);
            }
          }
        }
      }
    }
    &_bottom{
      position: relative;    
      .copyright{
        font-size: vw(24);
        color: #fff;
        line-height: 1.5;
        text-align: center;
        padding: vw(20) 0;
        background-color: #242424;
        font-family: $time;
        letter-spacing: vw(1);
      }
      .pagetop{
        span{
          width: vw(76);
          height: vw(76);
          background-color: #FFE200;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          right: 0;
          img{
            width: 14px;
            height: auto;
          }
        }
      }
    }
  }
}

