footer{
  background-color: #000;
  .bFooter{
    &_top{
      border-bottom: 1px solid #707070;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_l{
        .navFt{
          display: flex;
          align-items: center;
          li{
            transition: padding 0.3s ease-out;
            a{
              text-align: center;
              letter-spacing: 1px;
              font-size: 16px;
              line-height: 1;
              padding: 30px 25px;
              color: #fff;
              display: block;
              position: relative;
              font-family: $time;
              letter-spacing: 1px;
              &:before{
                content: "";
                position: absolute;
                z-index: -1;
                left: 51%;
                right: 51%;
                bottom: 0;
                background: #fff;
                height: 4px;
                transition-property: left, right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                visibility: hidden;
              }
              &:hover{
                &:before{
                  visibility: visible;
                  left: 0;
                  right: 0;
                }
              }
            }
          }
        }
      }
      &_r{
        .listSocial{
          display: flex;
          align-items: center;
          li{
            &:not(:last-child){
              margin-right: 20px;
            }
          }
        }
      }
    }
    &_bottom{
      position: relative;    
      .copyright{
        font-size: rem(14);
        color: #fff;
        line-height: 1.5;
        text-align: center;
        padding: 20px 0;
        background-color: #242424;
        font-family: $time;
        letter-spacing: 2px;
      }
      .pagetop{
        span{
          width: 62px;
          height: 62px;
          background-color: #FFE200;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          right: 0;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}

