header{
  background-color: #000;
  &.fixed{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 999;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    transform: translate3d(0, 0px, 0);
  }
  .bHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: vw(12) vw(30);
    background-color: #000;
    &_logo{
      img{
        width: vw(120);
        height: auto;
      }
    }
    &_nav{
      .nav {
        position: absolute;
        width: 100%;
        height: 0; 
        left: 0;
        z-index: 99;
        visibility: hidden; 
        backface-visibility: hidden;
        opacity: 0; 
        transition: all 0.35s linear;
        overflow-y: scroll;
        background: #000;
        padding: vw(100) 0 0 0;
        &.open {
          opacity: 1;
          visibility: visible;
        }
        .navMenu {
          padding: 0 vw(30);
          li {
            text-align: center;
            border-bottom: vw(2) solid #fff;
            &:first-of-type{
              border-top: vw(2) solid #fff;
            }
            a {
              text-align: center;
              letter-spacing: 1px;
              font-size: vw(26);
              color: #fff;
              line-height: 1;
              padding: vw(40) vw(35);
              display: flex;
              align-items: center;
              font-family: $time;
              letter-spacing: vw(1);
              position: relative;
              span{
                display: block;
                font-size: vw(32);
                line-height: 1;
                font-weight: bold;
                margin-right: vw(30);
              }
              &:after{
                content:"";
                background: url(../../images/arr_right_white.svg) no-repeat;
                background-size: contain;
                width: vw(8);
                height: vw(18);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: vw(30);
              }
            }
          }
        }
      }
      .menu {
        &.open {
          .icon_menu {
            .icon_inner {
              transition-delay: .1s;
              transform: translate3d(0, vw(12), 0) rotate(135deg);
              &::before {
                transition-delay: 0s;
                opacity: 0;
              }
              &::after {
                transition-delay: .1s;
                transform: translate3d(0, vw(-24), 0) rotate(-270deg);
              }
            }
          }
        }
        .icon_menu {
          position: relative;
          width: vw(40);
          height: vw(26);
          z-index: 100;
          cursor: pointer;
          %menu {
            position: absolute;
            width: 100%;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .1s;
            transition-property: transform;
            background-color: #fff;
          }
          .icon_inner {
            @extend %menu;
            transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
            transition-duration: .4s;
            display: block;
            top: 0;
            left: 0;
            &::before,
            &::after {
              content: "";
              display: block;
            }
            &::before {
              top: vw(12);
              transition: opacity .15s ease .4s;
              @extend %menu;
            }
            &::after {
              top: vw(24);
              transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
              @extend %menu;
            }
          }
        }
      }
    }
  }
} 
