header{
  &.fixed{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39); 
    min-width: 1275px;
    transform: translate3d(0, 0px, 0);
  }
  .bHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
    background-color: #000000;
    &_logo{
      img{
        width: 141px;
        height: auto;
      }
      a{
        display: block;
        &:hover{
          opacity:1;
          img{
            opacity:1;
          }
        }
      }
    }
    &_nav{
      .nav{
        display: flex;
        .navMenu{
          display: flex;
          align-items: center;
          li{
            transition: padding 0.3s ease-out;
            a{
              text-align: center;
              letter-spacing: 1px;
              font-size: 16px;
              line-height: 1;
              padding: 36px 22px;
              display: block;
              position: relative;
              font-weight: 400;
              font-family: $time;
              letter-spacing: vw(1);
              color: #fff;
              &:before{
                content: "";
                position: absolute;
                z-index: -1;
                left: 51%;
                right: 51%;
                bottom: 0;
                background: #fff;
                height: 4px;
                transition-property: left, right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                visibility: hidden;
              }
              &:hover{
                &:before{
                  visibility: visible;
                  left: 0;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}