@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
  color: #333;
  // filter: alpha(opacity=80);
  // -ms-filter: "alpha(opacity=80)";
  // opacity: .80;
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}
a {
  color: #333;
}
img {
  vertical-align: bottom;
}
div,
p {
  /*word-break: break-all;*/
}
ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

body,
td,
th,
input,
textarea {
  color: #333;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: rem(13);
  font-weight: 400;
  line-height: 1.5;
}

//---------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

picture {
  display: block;
}
html,body {
  width: 100%;
  height: 100%;
}
main {
  //overflow-x: hidden;
}
@keyframes upanddown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes upanddown2 {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes ZM {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(0.8,0.8);
  }
}
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
}

.effect{
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.fadeInUp{
  opacity: 0;
  transform: translateY(100px);
  &.active{
    opacity: 1;
    transform: translate(0);
  }
}

.flowCld{
  &:before{
    transition: width 0.5s 0.5s, height 0.5s 1s;
    width: 0;
    height: 0;
  }
  &:after{
    transition: width 0.5s 0.5s, height 0.5s 1s;
    width: 0;
    height: 0;
  }
  &.active{
    &:before{
      width: 100%;
      height: 100%;
    }
    &:after{
      width: 100%;
      height: 100%;
    }
  }
}

.delay_03 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
}
.delay_06 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.6s;
}
.delay_09 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.9s;
}
.delay_12 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1.2s;
}
.delay_15 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1.5s;
}
