@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stNews{
  padding: 0 0 170px;
  .bPagination{
    margin-top: 100px;
  }
  .bDetail{
    max-width: 815px;
    margin: 0 auto;
    .ttlH2{
      font-size: rem(30);
      line-height: 1.5;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    .time{
      font-size: rem(11);
      line-height: 15px;
      display: block;
      font-weight: 500;
      margin-bottom: 35px;
      font-family: $time;
      letter-spacing: 1px;
    }
    .imgDetail{
      margin-bottom: 50px;
      img{
        width: 100%;
        height: auto;
      }
    }
    p{
      font-size: rem(13);
      line-height: 27px;
    }
    .ttlH3{
      font-size: rem(25);
      line-height: 1.5;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
    .ttlH4{
      font-size: rem(20);
      line-height: 1.5;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
    .ttlH5{
      font-size: rem(17);
      line-height: 1.5;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
    .bGrTag{
      margin: 80px 0 0 0;
      .item{
        &:not(:last-child){
          margin-bottom: 115px;
        }
        &:last-of-type{
          .item_right{
            width: 100%;
          }
        }
        .bFlex{
          display: flex;
        }
        figure{
          width: 285px;
          padding-right: 35px;
          img{
            width: 100%;
            height: auto;
          }
        }
        &_right{
          width: calc(100% - 285px);
        }
      }
    }
    .listDot{
      margin-top: 60px;
      li{
        font-size: rem(13);
        line-height: 27px;
        font-weight: bold;
        position: relative;
        padding-left: 15px;
        &:before{
          content:"";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          overflow: hidden;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
    .listNumber{
      margin-top: 60px; 
      counter-reset: li;
      li{
        font-size: rem(13);
        line-height: 27px;
        font-weight: bold;
        position: relative;
        padding-left: 20px;
        &:before{
          counter-increment: li;
          content: counter(li) ".";
          font-size: rem(13);
          line-height: 27px;
          font-weight: bold;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
    .listTxt{
      margin-top: 60px;
      li{
        border-bottom: 2px solid #000;
        padding: 20px 0;
        display: flex;
        &:first-of-type{
          border-top: 2px solid #000;
        }
        span{
          font-size: rem(13);
          line-height: 27px;
          display: block;
          width: 210px;
          padding: 0 20px;
          font-weight: bold;
        }
        em{
          font-size: rem(13);
          line-height: 27px;
          display: block;
          font-style: normal;
          width: calc(100% - 210px);
        }
      }
    }
    .bPag{
      margin-top: 80px;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          &:not(:last-child){
            margin-right: 40px;
            position: relative;
            &:after{
              content:"|";
              font-size: rem(13);
              line-height: 27px;
              position: absolute;
              top: -2px;
              right: -20px;
            }
          }
          a{
            font-size: rem(13);
            line-height: 27px;
          }
          &.prev{
            position: relative;
            &:before{
              content:"";
              background: url(../images/prev.png) no-repeat;
              width: 8px;
              height: 13px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -40px;
            }
          }
          &.next{
            position: relative;
            &:before{
              content:"";
              background: url(../images/next.png) no-repeat;
              width: 8px;
              height: 13px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -40px;
            }
          }
        }
      }
    }
  }
}