@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stAbout{
  .bAbout{
    background: url(../images/bkg_about.jpg) center center no-repeat;
    background-size: cover;
    padding: vw(100) 0;
    position: relative;
    transform: translateZ(0);
    color: #fff;
    &:after{
      content:"";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.68);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    p{
      text-align: center;
      font-size: vw(37);
      line-height: 1.2;
      margin-bottom: vw(30);
      font-style: italic;
      font-family: $time;
      letter-spacing: vw(1);
      span{
        display: block;
        font-style: normal;
        margin-top: vw(10);
        font-size: vw(28);
      }
    }
    em{
      text-align: center;
      display: block;
      font-style: normal;
      font-size: vw(25);
      line-height: 1.5;
    }
  }
}
.stTeam{
  padding: vw(100) 0;
  background-color: #000;
  .ttlSt{
    color: #fff;
  }
  .listTeam{
    li{
      &:not(:last-child){
        margin-bottom: vw(60);
      }
      figure{
        display: flex;
        align-items: center;
        span{
          display: block;
          width: vw(222);
        }
        figcaption{
          width: calc(100% - #{vw(222)});
          padding-left: vw(50);
          h4{
            font-size: vw(26);
            line-height: 1.5;
            color: #fff;
            font-weight: 400;
            margin-bottom: vw(15);
            font-family: $time;
            letter-spacing: vw(1);
          }
          em{
            font-size: vw(20);
            line-height: 1.5;
            color: #fff;
            font-style: normal;
          }
        }
      }
    }
  }
}
.bCompany{
  padding: vw(100) 0;
  .ttlCompany{
    font-size: vw(28);
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: vw(50);
    text-align: center;
    span{
      font-family: $time;
      letter-spacing: 1px;
    }
  }
  .listInfo{
    li{
      &:not(:last-child){
        margin-bottom: vw(30);
      }
      span{
        display: block;
        font-size: vw(23);
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: vw(10);
        ins{
          font-family: $time;
          letter-spacing: vw(1);
          text-decoration: none;
        }
      }
      em{
        display: block;
        font-style: normal;
        font-size: vw(23);
        line-height: 1.5;
      }
    }
  }
}