@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.stAbout{
  .bAbout{
    background: url(../images/bkg_about.jpg) top center no-repeat;
    background-size: cover;
    padding: 148px 0 152px;
    position: relative;
    transform: translateZ(0);
    color: #fff;
    &:after{
      content:"";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.68);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    p{
      text-align: center;
      font-size: rem(27);
      line-height: 30px;
      margin-bottom: 20px;
      font-style: italic;
      font-family: $time;
      letter-spacing: 1px;
      span{
        display: block;
        font-style: normal;
        margin-top: 3px;
        font-size: rem(18);
      }
    }
    em{
      text-align: center;
      display: block;
      font-style: normal;
      font-size: rem(15);
      line-height: 1.5;
    }
  }
}
.stTeam{
  padding: 105px 0 141px;
  background-color: #000;
  .row{
    max-width: 876px;
  }
  .ttlSt{
    color: #fff;
  }
  .listTeam{
    li{
      &:not(:last-child){
        margin-bottom: 60px;
      }
      figure{
        display: flex;
        align-items: center;
        span{
          display: block;
          width: 222px;
        }
        figcaption{
          width: calc(100% - 222px);
          padding-left: 63px;
          h4{
            font-size: rem(20);
            line-height: 22px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 20px;
            font-family: $time;
            letter-spacing: 1px;
          }
          em{
            font-size: rem(13);
            line-height: 23px;
            color: #fff;
            font-style: normal;
          }
        }
      }
    }
  }
}
.bCompany{
  padding: 95px 0 103px;
  .row{
    max-width: 784px;
  }
  .ttlCompany{
    font-size: rem(18);
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    span{
      font-family: $time;
      letter-spacing: 1px;
    }
  }
  .listInfo{
    li{
      display: flex;
      &:not(:last-child){
        margin-bottom: 30px;
      }
      span{
        display: block;
        font-size: rem(13);
        line-height: 1.5;
        font-weight: bold;
        width: 270px;
        ins{
          text-decoration: none;
          font-family: $time;
          letter-spacing: 1px;
        }
      }
      em{
        display: block;
        width: calc(100% - 270px);
        font-style: normal;
        font-size: rem(13);
        line-height: 23px;
      }
    }
  }
}